/*Para poder usar iconos de nerd fonts*/
@import "https://www.nerdfonts.com/assets/css/webfont.css";

html {
  font-family: "Atkinson Hyperlegible", sans-serif;
}

/*Resetear todos los valores de margin en el body a 0*/
body {
  margin: 0rem;
}

/*Desactivar decoraciones y colores en los links*/
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #019ede;
}

.anuncio {
  padding: 0.4rem;
  background-color: #f3f3f3;
  text-align: center;
  color: #5c5c5c;
  font-size: 0.875rem;
  font-family: "Oswald", sans-serif;
}

a.anuncio {
  text-decoration: underline;
}

header {
  padding: 0.5rem;
  text-align: center;
}

nav {
  text-align: center;
  color: #5c5c5c;
  font-size: 0.875rem;
  font-family: "Oswald", sans-serif;
  /* background-color: #d4a373; */
  background-color: #f3f3f3;
  padding: 0.3rem;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

nav a {
  font-size: 1rem;
}

.bienvenida {
  text-align: center;
}

.section-bienvenida {
  background-color: #ea6d09;
  padding: 5rem;
}

h2.bienvenida {
  font-size: 3rem;
  margin-bottom: 2.5rem;
}

p.bienvenida {
  font-size: 1.5rem;
}

p.bienvenida {
  margin-bottom: 3rem;
}

.section-boton {
  font-size: 1rem;
  margin-top: 2rem;
  padding: 0.75rem;
  background: grey;
  border: 0.125rem solid grey;
  border-radius: 0.5rem;
}

a:hover.section-boton {
  color: #019ede;
}

.servicios {
  background-color: #69c8ea;
  padding-bottom: 2rem;
}

h2.servicios {
  text-align: center;
  font-size: 2.5rem;
  padding-top: 2rem;
  margin-top: 0rem;
  margin-bottom: 2rem;
}

.contenedor-servicios {
  text-align: center;
}

.contenedor-servicios ul {
  list-style-type: none;
}

.contenedor-servicios li {
  display: inline-block;
  padding-left: 5rem;
  padding-right: 5rem;
}

.testimonial-contenedor {
  padding: 3rem;
}

.testimonial h3 {
  font-size: 1.7rem;
  font-weight: 400;
  font-style: italic;
}

.testimonial p {
  font-size: 1.2rem;
}

.contenedor-mapa {
  width: 100%;
}

footer {
  font-size: 0.8rem;
  padding-top: 1rem;
  text-align: center;
  background-color: #f3f3f3;
}

.contenedor-volver {
  font-size: 0.9rem;
  margin-bottom: 0.7rem;
}

.contenedor-redes .contenedor-pagos {
  text-align: center;
}

.contenedor-redes ul {
  margin-top: 0;
  margin-bottom: 0.5rem;
  padding: 0;
  list-style-type: none;
}

.contenedor-redes li {
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
}

.margin-primer p {
  margin-top: 0;
  margin-bottom: 0.1rem;
}

.margin-segundo p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.contenedor-texto-footer a {
  text-decoration: underline;
  cursor: pointer;
}

.heart {
  color: #f92672;
}

.contenedor-pagos ul {
  list-style-type: none;
}

.contenedor-pagos li {
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
}

.contenedor-redes li:hover {
  opacity: 0.7;
}
