/*Para poder usar iconos de nerd fonts*/
@import "https://www.nerdfonts.com/assets/css/webfont.css";

html {
  font-family: "Atkinson Hyperlegible", sans-serif;
}

/*Resetear todos los valores de margin en el body a 0*/
body {
  margin: 0rem;
}

/*Desactivar decoraciones y colores en los links*/
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.anuncio {
  padding: 0.4rem;
  background-color: #f3f3f3;
  text-align: center;
  color: #5c5c5c;
  font-size: 0.875rem;
  font-family: "Oswald", sans-serif;
}

a.anuncio {
  text-decoration: underline;
}

header {
  padding: 1rem;
  text-align: center;
}

header ul {
  list-style-type: none;
}

header li {
  display: inline-block;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

header nav a:hover {
  color: #019ede;
}

header nav a {
  font-size: 1rem;
}

.bienvenida {
  text-align: center;
}

.section-bienvenida {
  background-color: #ea6d09;
  padding: 5rem;
}

h2.bienvenida {
  font-size: 3rem;
  margin-bottom: 2.5rem;
}

p.bienvenida {
  font-size: 1.5rem;
}

p.bienvenida {
  margin-bottom: 3rem;
}

.section-boton {
  font-size: 1rem;
  margin-top: 2rem;
  padding: 0.75rem;
  background: grey;
  border: 0.125rem solid grey;
  border-radius: 0.5rem;
}

a:hover.section-boton {
  color: #019ede;
}

.servicios {
  background-color: #69c8ea;
  padding-bottom: 2rem;
}

.contenedor-servicios {
  width: 100%;
  display: flex;
}

h2.servicios {
  text-align: center;
  font-size: 2.5rem;
  padding-top: 2rem;
  margin-top: 0rem;
  margin-bottom: 2rem;
}

.imagen-servicio {
  width: 33.33%;
  display: flex;
  flex-direction: column; /* apilar los elementos verticalmente */
  justify-content: center; /* centrar los elementos horizonalmente */
  align-items: center; /* Centrar los elementos verticalmente*/
  padding: 0.4rem;
  box-sizing: border-box;
}

.imagen-servicio img {
  width: 20rem;
  height: auto;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.texto-servicio {
  margin-top: 0.625rem;
  text-align: center;
}

.texto-servicio p {
  font-size: 1.2rem;
  padding-bottom: 1.5rem;
}

.testimonial-contenedor {
  padding: 3rem;
}

.testimonial h3 {
  font-size: 1.7rem;
  font-weight: 400;
  font-style: italic;
}

.testimonial p {
  font-size: 1.2rem;
}

.heart {
  color: #f92672;
}
